<div class="create-new-project">
    <h3 class="headline">{{ 'CT_TRANS.createNewProject'|trans({}, 'contao_default') }}</h3>

    <div class="go-back-btn"><a href="javascript: history.back()">{{ 'MSC.backBT'|trans({}, 'contao_default') }}</a></div>

    {{ form|raw }}
</div>
