<div class="trans-menu">
    <h3 class="headline">{{ 'CT_TRANS.projects'|trans({}, 'contao_default') }}</h3>

    <div class="m-t-2">
        {{ menu|raw }}
    </div>
    <div class="mt-5">
        <ul class="trans-menu">
            <li>
                <a href="{{ href_create_new_project }}" class="btn btn-primary">+ {{ 'CT_TRANS.createNewProject'|trans({}, 'contao_default') }}</a>
            </li>
        </ul>
    </div>

</div>
