.mod_translation_module {

  [v-cloak] {
    display: none;
  }

  a {
    text-decoration: none !important;

    & > :hover {
      text-decoration: underline;
    }
  }

  hr {
    color: #d0d7de;
  }

  ul.trans-menu {
    padding: 0;
    list-style: none;

    li {
      margin-bottom: .5rem;
      margin-top: .5rem;
    }

    ul {
      list-style: none;
    }
  }

  .trans-app-header {
    background-color: #9c27b0;

    .inner {
      padding: 1rem 1rem;
      color: #fff;

      .trans-header-headline {
        font-size: 1.125rem;
        line-height: 1;
        margin: 0;
      }
    }
  }


  left {

    .inner {
      border-right: 1px solid #d0d7de;
      margin: 1rem;
      paddin-top: 1rem;

      h3.headline {
        margin-bottom: 1.5rem;
        font-size: 1.125rem;
      }

      ul.trans-menu {
        ul.menu_level_1 {
          padding-left: 1rem;
          margin-bottom: 1rem;

          > li > * {
            font-size: smaller;
          }
        }
      }
    }
  }

  main {
    .inner {
      margin: 1rem;
      position: relative;

      h3.headline {
        margin-bottom: 1.5rem;
        font-size: 1.125rem;
      }

      h4.headline {
        font-size: 1rem;
      }

      .go-back-btn {
        text-align: right;
      }

      .accordion-item {
        border-color: #d0d7de;

        h3, button {
          background-color: #fff !important;
        }
      }

      .tl_message {
        margin-bottom: 2rem;

        > [class^="tl_"] {
          padding: 1rem;
          margin: 0;
          color: #fff;
          margin: 0 0 1px 0;
        }

        .tl_confirm {
          background-color: #00AAAA;
        }

        .tl_info {
          background-color: #0a53be;
        }

        .tl_error {
          background-color: red;
        }
      }

      .widget {
        margin-bottom: 2rem;

        input.text {
          width: 700px;
          max-width: 100%;
        }

        > * {
          display: block;
        }

        button {
          font-weight: 400;
          line-height: 1.5;
          color: #fff;
          text-align: center;
          text-decoration: none;
          vertical-align: middle;
          cursor: pointer;
          -webkit-user-select: none;
          -moz-user-select: none;
          user-select: none;
          background-color: #347aea;
          border: 1px solid transparent;
          padding: 0.375rem 0.75rem;
          font-size: 1rem;
          border-radius: 0.25rem;
          transition: color .15s;

          &:hover {
            background-color: darken(#347aea, 20%);
          }
        }
      }

      .translation-item {
        padding-top: 1rem;
        padding-bottom: 1rem;
        border-bottom: 1px solid #eaeaea;

        .trans-translation-missing {
          background-color: rgba(255, 0, 0, 0.38);
        }

        .trans-translation-ok {
          background-color: rgba(5, 211, 5, 0.38);
        }

        code {
          color: #e90e7b;
        }
      }
    }
  }
}
